// _variables.sass
$color-black: #111;
$color-white: #fff;
$color-main: #FFC72C;
$color-blue-dark: #010741;
$color-grey-dark: #303030;
$color-grey-border: #4E4E4E;

$font-small: 0.8rem;
$font-medium: 1rem;
$font-large: 1.2rem;

$container-width: 1200px;
$menu-width-mobile: 75vw;
$logo-width: 148px;
$logo-height: 32.56px;

