@use "../utils/variables" as vars;
@use "../utils/mixins" as mixins;
@use "../base/reset";
@use "../base/typography";
@use "../layout/navigation";

.header {
  background: vars.$color-black;
  color: vars.$color-white;
  border-bottom: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
  gap: 24px;
  display:flexbox;
  justify-content: center;

  &__container {
    max-width: vars.$container-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__logo {
    display: flex;
    align-items: center;

    img {
      height: vars.$logo-height;
      width: vars.$logo-width;
      margin-right: 12px;
    }

    &-text {
      font-weight: bold;
      font-size: vars.$font-large;
      letter-spacing: 1px;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 24px;
    font-style: normal;

    &-list {
      display: flex;
      gap: 1.5rem;
      list-style: none;
      margin: 0;
      padding: 0;
      font-weight: 600;
      font-size: 0.5rem;
      line-height: 1.5rem;

      li {
        cursor: pointer;
        position: relative;
        padding: 36px 0 36px 0;
        border-bottom: 4px solid transparent;
        font-size: vars.$font-large;

        &:hover {
          border-bottom-color: vars.$color-main;
        }

        ul {
          display: none;
          list-style: none;
          padding-left: 0;
          margin: 0;
          background: var(--Grises-grey-black, vars.$color-grey-dark);
          top: 101px;
          left: 0;
          z-index: 100;
          position: fixed;
          right: 0;
          width: 100vw;

          li {
            flex: 1;
            padding-left: vars.$font-medium;
            background-color: rgba(255, 255, 255, 0.05);
            border-radius: 8px;
            padding: 16px;
            white-space: nowrap;

            &:hover {
              @include mixins.transition(background-color, 1s, ease);
              background-color: vars.$color-main;
              border-bottom: none;

              a {
                 @include mixins.transition(color, 1s, ease);
                color: vars.$color-blue-dark;
              }
            }
          }
        }

        &:hover > ul {
          display: flex;
          align-items: center;
          padding: 32px 300px;
          gap: 1.5rem;
        }

        &.open > ul {
          display: flex;
          align-items: center;
          padding: 32px 300px;
          gap: 1.5rem;
          border: none;
        }
      }
    }

    &-list--open {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: vars.$menu-width-mobile;
      height: 100vh;
      background-color: vars.$color-black;
      padding: 60px 24px 24px 24px;
      gap: 0;
      z-index: 150;
      overflow-y: auto;
       @include mixins.transition(transform, 0.3s, ease-in-out);
      box-shadow: 2px 0 8px rgba(0,0,0,0.7);
    }

    &-item {
      a {
        color: vars.$color-white;
        text-decoration: none;
        font-size: vars.$font-medium;
        padding: 8px 0;
        @include mixins.transition(color, 0.2s);

        &:hover {
          color: #ffd600;
        }
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-left: 32px;
  }

  &__icon-link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: vars.$color-white;
    text-decoration: none;
    font-size: vars.$font-medium;

    svg {
      width: 18px;
      height: 18px;
      fill: vars.$color-white;
    }

    &:hover {
      color: #ffd600;
    }
  }

  &__unir {
    color: vars.$color-white;
    border-left: 1px solid white;
    padding: 24px 0 24px 16px;
    display: flex;
    align-items: center;
    gap: 6px;
    height: 54px;

    span {
      font-weight: 500;
      font-size: vars.$font-small;
    }
  }

  /* Burger button */
  &__burger {
    display: none;
    width: 36px;
    height: 36px; 
    cursor: pointer;
    margin-left: 16px;
    z-index: 200;
    background: none;
    border: none;
    padding: 0;
    font-size: 2rem;
    line-height: 1;
    color: vars.$color-white;
    user-select: none;
  }

  
  &__submenu {
    display: none;
    gap: 8px;
  }

  &__submenu--open {
    display: flex;
  }

 &__submenu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  width: 16px;
  height: 10px;
  margin-left: 8px;
  position: relative;
  padding: 0;
}


  &__submenu-toggle::before,
  &__submenu-toggle::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: vars.$color-main;
    top: 50%;
    left: 0;
    transform-origin: left center;
    @include mixins.transition(transform, 0.3s, ease);
  }


  &__submenu-toggle::before {
    transform: translateY(-50%) rotate(224deg);
  }


  &__submenu-toggle::after {
    transform: translateY(-50%) rotate(-45deg);
  }


  &__submenu-toggle[aria-expanded="true"]::before {
    transform: translateY(-50%) rotate(140deg);
    left: 4px;
    top: -4px;
  }

  &__submenu-toggle[aria-expanded="true"]::after {
    transform: translateY(-50%) rotate(44deg);
    left: 4px;
    top: -4px;
  }

  
  &--scrolled {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  @include mixins.mq-max(900px) {
    & {
      display: flex;
      border-bottom: 3px solid vars.$color-main;
      height: 64px;
    }

    &__container {
      width: 100%;
      padding: 5px;
      padding: 16px 18px 16px 18px;
    }

    &__left {
      width: 100%;
      justify-content: space-between;
    }

    &__menu {
      display: flex;

      &-list--open {
        display: block;
      }

      &-list {
        display: none;
        margin:67px 0 0 0;
        width: 100%;

        li {
          border: 1px solid vars.$color-grey-border;
          padding: 16px 0;
     
          &:hover > ul {  
            display: block;
            padding: 0px;
            position: static;

            li{
              border-radius: 0%; 
              
              a{
                padding: 0;
              }
            }
          }
          &.open > ul {
            display: block;
          }

        }
      }
      
      &-item {
        &-inner {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 0px 16px 0px 16px;
        }

      i{
        font-size: vars.$font-large;
      }
      }
   
      &-list--open {
        display: flex;
        padding: 0;
      }
    }

    &__right {
      display: none;
    }

    &__burger {
      display: flex;
    }

    img.wp-smiley,
    img.emoji {
      height: 2em;
      width: auto;
      margin: 0 0.2em;
      vertical-align: middle;
      filter: invert(86%) sepia(68%) saturate(2500%) hue-rotate(2deg) brightness(100%) contrast(80%);
    }

    
    &__right--open {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 30px;
      position: fixed;
      bottom: 0;
      height: auto;
      z-index: 900;
      width: vars.$menu-width-mobile;
    }
  
    &__unir {
      border-left: none;
  
      img {
        width: 151px;
        height: 32px;
      }
    }
  
    &__submenu-toggle {
    display: inline-block;
    
    }
  }

}



